body{
    display: flex;
    flex-direction: column; /* make sections stay on top of each other */
    font-family: "Roboto", 'Times New Roman', Times, serif;
    margin: 0;
}

.header{
    display: flex;
    background-color: #1f2937;
    padding: 10px 200px;
    justify-content: space-between;
    align-items: center;
}

.headerlogo{
    color:#f9faf8;
    font-size: 24px;
}

ul{
    list-style-type: none; /* remove default unordered list style */
    margin: 0;
    padding: 0;
}

a{
    margin-left: 15px;
    text-decoration: none; /* remove default link style */
    color: #e5e7eb;
    font-size: 18px;
}

.hero{
    padding: 100px 200px;
    display: flex;
    background-color:#1f2937 ;
    gap: 50px;
    
}

.title{
    color: #f9faf8;
    font-size: 48px;
    font-weight: 900;
}

.description{
    color: #e5e7eb;
    font-size: 18px;
    margin-bottom: 10px;
}

button{
    background-color: #3882f6;
    color: #f9faf8;
    border-radius: 10px;
    padding: 10px 40px;
    border-style: none; /* remove ugly default border style */
    font-weight: 600;
    font-size: large;
}

.informations{
    text-align: center;
    padding: 10px 250px;
    margin-bottom: 100px;
}

.informations .title{
    font-size: 36px;
    color: #1f2937;
    margin: 40px 0; 
}

.cardcontainer{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap; /* make the cards stay separated and organized if windows shrinks (not request but i can't watch em stack )*/
    gap: 30px; /* keep minimum distance between card by 30px */
}

.card{
    width: 160px; /* make the writing stay under his img */
}

.card img{
    border-radius: 10px;
    border: 3px solid #3882f6;
}

.quote{
    background-color: #e5e7eb;
    padding: 120px 250px;
   }

.textquote{
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
}

.author{
    text-align: right;
    font-size: x-large;
    font-weight: bold;
}

.cta{
    display: flex;
    background-color: #3882f6;
    margin: 100px 150px;
    padding: 50px 100px; 
    justify-content: space-between; 
    border-radius: 10px; /* make rounded edges around all the blue area */
}
.ctaleft{
    color: #e5e7eb;
    width: 60%;
}
.ctatitle{
    font-size: x-large;
    font-weight: bold;
}

.cta button{ /* don't just call button or it will change the hero one also */
    background-color: #3882f6;
    color: #e5e7eb;
    border: solid 3px #e5e7eb;
    font-size: larger;
    font-weight: bold;
}

.footer{
    padding: 40px;
    background-color: #1f2937;
    text-align: center; /* just align his text (not a flex item) */
    color: #e5e7eb;
    font-weight: 600;
    font-size: large;
}