body{
    display: flex;
    flex-direction: column;
    font-family: "Roboto", 'Times New Roman', Times, serif;
    margin: 0;
}

.header{
    display: flex;
    background-color: #1f2937;
    padding: 10px 200px;
    justify-content: space-between;
    align-items: center;
}

.headerlogo{
    color:#f9faf8;
    font-size: 24px;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a{
    margin-left: 15px;
    text-decoration: none;
    color: #e5e7eb;
    font-size: 18px;
}

.hero{
    margin: 100px 200px;
}
