body{
    display: flex;
    flex-direction: column;
    font-family: "Roboto", 'Times New Roman', Times, serif;
    margin: 0;
}

.header{
    display: flex;
    background-color: #1f2937;
    padding: 10px 200px;
    justify-content: space-between;
    align-items: center;
}

.headerlogo{
    color:#f9faf8;
    font-size: 24px;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a{
    margin-left: 15px;
    text-decoration: none;
    color: #e5e7eb;
    font-size: 18px;
}

.hero{
    padding: 100px 200px;
    display: flex;
    background-color:#1f2937 ;
    gap: 50px;
    
}

.title{
    color: #f9faf8;
    font-size: 48px;
    font-weight: 900;
}

.description{
    color: #e5e7eb;
    font-size: 18px;
    margin-bottom: 10px;
}

button{
    background-color: #3882f6;
    color: #f9faf8;
    border-radius: 10px;
    padding: 10px 40px;
    border-style: none;

}

.informations{
    text-align: center;
    padding: 10px 250px;
    margin-bottom: 100px;
}

.informations .title{
    font-size: 36px;
    color: #1f2937;
    margin: 40px 0;
}

.cardcontainer{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 30px;
}

.card{
    width: 160px;
    height: auto;
}

.card img{
    border-radius: 10px;
    border: 3px solid #3882f6;
}

.quote{
    background-color: #e5e7eb;
    padding: 120px 250px;
   }
   
.textquote{
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
}

.author{
    text-align: right;
    font-size: x-large;
    font-weight: bold;
}

.cta{
    display: flex;
    background-color: #3882f6;
    margin: 100px 150px;
    padding: 50px 100px; 
    justify-content: space-between; 
    border-radius: 10px; 
}
.ctaleft{
    display: block;
    color: #e5e7eb;
    width: 60%;
}
.ctatitle{
    font-size: x-large;
    font-weight: bold;
}

.cta button{
    background-color: #3882f6;
    color: #e5e7eb;
    border: solid 3px #e5e7eb;
    font-size: larger;
    font-weight: bold;
}